%table.list.possible_answer_list
  %tr
    %th= t_attr :question
    %th= t_attr :answer
    %th.action-links

  = render @possible_answers

  %tr
    %th{:colspan => "4", :style => "text-align: right"}= will_paginate @possible_answers
