%tr[possible_answer]
  %td= link_to possible_answer.question.to_s, possible_answer.question
  %td= link_to possible_answer.answer.to_s, possible_answer.answer

  = list_item_actions_for(possible_answer)
