%div[resource]
  = ui_tabs [                                                          |
      {:name => 'form_address' },                                      |
      {:name => 'form_remarks' },                                      |
      {:name => 'form_user',    :if => lambda { resource.user } },     |
      {:name => 'create_user',  :unless => lambda { resource.user } }  |
    ]                                                                  |
