%table.list#people_list
  %tr
    %th= t_attr :name
    %th= t_attr :address
    %th.action-links

  = render :collection => @people, :partial => 'person'
  
  %tr
    %th{:colspan => "3", :style => "text-align: right"}= will_paginate @people
