= contextual_links

%h1= resource

%div[resource]
  = ui_tabs [                                                                                 |
      {:name => 'address', :partial => 'people/tab_address' },                                |
      {:name => 'remarks', :partial => 'people/tab_remarks' },                                |
      {:name => 'user', :partial => 'people/tab_user', :if => lambda { resource.user } },     |
      {:name => 'create_user', :partial => 'people/tab_create_user', :unless => lambda { resource.user } }  |
    ]                                                                                         |
