// learnyt
// =======
// Questions
#question, .quiz, #answer, #response, .possible_answers, #quiz_response
  h2
    font-size: 90%
    margin-bottom: 0.4em
    margin-top: 0.8em

  .description, .remarks
    margin-left: 3%
    white-space: pre-line
    
  .remarks
    font-style: italic
    font-size: 90%
    padding-left: 3px
    margin-bottom: 6px
    border: solid 2px white
    +border-radius($border_radius / 2)
  
form #possible_answer_list
  .description, .remarks
    margin-left: 4.2em

// Quizzes Index
#quiz_list
  .description
    margin-left: 0

#possible_answer_list, #answers, .possible_answers
  width: 98%
  list-style-type: decimal

  li.possible_answer, fieldset.possible_answer
    display: list-item
    border-width: 1px
    margin: 0.5em
    margin-left: 2em
    padding: 0.5em

  li.possible_answer
    background-color: #F6F6F6

  li.possible_answer
    +sanserif-font
    font-weight: bold
    font-size: 90%
    
    .position
      display: none
    .description, .remarks
      font-weight: normal
      textarea
        margin-top: 1em
    .score
      float: left
      margin-right: 1em
      &.correct, .correct
        color: #9fcf9f
      &.close, .close
        color: #fdbf3b
      &.wrong, .wrong
        color: #990000
      input
        width: 3em
      
    &.correct
      border-color: #9fcf9f
    &.close
      border-color: #fdbf3b
    &.wrong
      border-color: #990000
      
  h3
    font-decoration: none
    font-size: 80%
    border: 0
    margin: 0
  .description, .remarks
    margin-left: 3em
    white-space: pre-line
    
#response, .possible_answers, #quiz_response
  li.possible_answer
    &.selected, &.ui-selected
      background-color: #dfffdf
    &.correct
      &.selected
        background-color: #dfffdf
    &.close
      &.selected
        background-color: #ffebc1
    &.wrong
      &.selected
        background-color: #ffe3e3

#response form
  li.possible_answer
    &:hover
      background-color: #dfffdf
    &.correct
      &:hover
        background-color: #dfffdf
    &.close
      &:hover
        background-color: #ffebc1
    &.wrong
      &:hover
        background-color: #ffe3e3

// Quizzes
li.question
  list-style: none
  h3
    border-bottom: 0
    margin-bottom: 0.4em
    margin-top: 0.8em
    
.overall_score
  font-weight: bold
  &.correct
    background-color: #dfffdf
    border-color: #9fcf9f
  &.close
    background-color: #ffebc1
    border-color: #fdbf3b
  &.wrong
    background-color: #ffe3e3
    border-color: #990000

#available_question_label, #selected_question_label
  width: 40%
  float: left
  margin-left: 1em
  margin-right: 1em
  padding-left: 1em
  font-weight: bold

#available_questions, #selected_questions
  width: 40%
  float: left
  margin: 1em
  padding: 1em
  min-height: 3em

  li
    border: solid 1px transparent
    &:hover
      border: solid 1px #dfffdf

#selected_questions
  padding-left: 2em
  li
    display: list-item
    list-style: decimal

// Overview
ul.overview-list.level-1 >li
  min-height: 6em

+overview-icon-48('nav_questions')
+overview-icon-48('nav_answers')
+overview-icon-48('nav_quizzes')
+overview-icon-48('nav_quiz_responses')
+overview-icon-48('nav_settings')
+overview-icon-48('nav_users')
+overview-icon-48('nav_quiz_assignments')

+overview-icon-48('quiz', 'nav_quizzes')

+icon-text('locked')
