=overview-icon-48($ident, $icon = $ident)
  #overview ul li
    &##{$ident}, &.#{$ident}
      +icon($icon, 48)

#overview
  ul
    +no-bullets
    +horizontal-list
    li#accounting,
    li#invoicing,
    li#basic_claims_data
      width: 120px
    li
      a
        border-bottom: 1px solid black
        display: block
      &#overview
        display: none

    ul
      width: inherit
      margin-top: 5px
      li
        display: block
        float: none
        padding-left: 0px
        width: inherit
        min-height: 1em
        a
          border-bottom: none
#overview
  >ul>li
    // Top level
    background: no-repeat 0.4em 0.8em
    // Fix horizontal-list to not drop padding in first and last item
    &, .first, &:first-child, .last, &:last-child
      padding-left: 60px
      padding-right: 40px
    min-height: 58px
    +border-radius($border_radius)
    background-color: #F6F6F6
    border: 1px solid #E4E4E4
    color: #505050
    
    margin: 1em
    padding-top: 0.8em
    padding-bottom: 0.8em
    width: 20%
