ul.overview-list.level-1 > li.quiz.unsolved
  border: 2px solid green

#remove_multi,
#toggle_multiple,
#quiz_assignment_user_id
  float: left

#remove_multi,
#toggle_multiple
  padding-left: 10px
  
#toggle_multiple
  margin-top: 5px

