/* Multiselect
 *----------------------------------

.ui-multiselect
  float: left
  ul
    -moz-user-select: none
  li
    margin: 0
    padding: 0
    cursor: default
    line-height: 20px
    height: 20px
    font-size: 11px
    list-style: none
    a
      color: #999
      text-decoration: none
      padding: 0
      display: block
      float: left
      cursor: pointer
    &.ui-draggable-dragging
      padding-left: 10px
  div.selected
    position: relative
    padding: 0
    margin: 0
    border: 0
    float: left
  ul.selected
    position: relative
    padding: 0
    overflow: auto
    overflow-x: hidden
    background: #fff
    margin: 0
    list-style: none
    border: 0
    position: relative
    width: 100%
    li
  div.available
    position: relative
    padding: 0
    margin: 0
    border: 0
    float: left
    border-left: 1px solid
  ul.available
    position: relative
    padding: 0
    overflow: auto
    overflow-x: hidden
    background: #fff
    margin: 0
    list-style: none
    border: 0
    width: 100%
    li
      padding-left: 10px
  .ui-state-default
    border: none
    margin-bottom: 1px
    position: relative
    padding-left: 20px
  .ui-state-hover
    border: none
  .ui-widget-header
    border: none
    font-size: 11px
    margin-bottom: 1px
  .add-all, .remove-all
    float: right
    padding: 7px
  .search
    float: left
    padding: 4px
  .count
    float: left
    padding: 7px
  li
    span.ui-icon-arrowthick-2-n-s
      position: absolute
      left: 2px
    a.action
      position: absolute
      right: 2px
      top: 2px
  input.search
    height: 14px
    padding: 1px
    opacity: 0.5
    margin: 4px
    width: 100px
