= ui_tabs [ |
    {:name => "address", :partial => 'people/address_tab' }, |
    {:name => "remarks"}, |
    {:name => "user", :partial => 'people/user_tab', :only => lambda { resource.user} } |
  ] |
