.flash.notice
  %h2
    Dies ist eine Demo Installation.
  %p
    Mit folgenden Daten können Sie sich anmelden.<br/><br/>
    <b>E-Mail:</b>
  %p
    Administrator: <i>admin@example.com</i>
  %p
    Lehrer: <i>teacher@example.com</i>
  %p
    Schüler/Student: <i>student@example.com</i>
  %p
    <b>Passwort:</b> <i>demo1234</i>
