.flash.notice
  %h2
    This is a demo installation.
  %p
    Use these credentials to login.<br/><br/>
    <b>E-Mail:</b>
  %p
    Administrator: <i>admin@example.com</i>
  %p
    Teacher: <i>teacher@example.com</i>
  %p
    Student/Student: <i>student@example.com</i>
  %p
    <b>Password:</b> <i>demo1234</i>
