- @question = @response.question
%h2= @question.title

%ol.possible_answers
  - for @possible_answer in @question.possible_answers
    %li.subbox[@possible_answer]{:class => [@possible_answer.correctness, @response.try(:possible_answer) == @possible_answer ? 'selected' : nil], :data => {:id => @possible_answer.id}}
      .score{:class => @possible_answer.correctness}= @possible_answer.score
      %h3= @possible_answer.answer.title
      %p.description<= @possible_answer.answer.description
