= contextual_links
%h1= @quiz_response.quiz

.box.overall_score{:class => @quiz_response.correctness}
  = @quiz_response

#quiz_response
  - for @response in @quiz_response.responses
    = render 'responses/show'
