.sub-tabs
  %h3= t('application.filter')
  %ul
    %li.all_filter= link_to t('learnyt.all'), url_for(params.merge(scope => nil))
    - for tag in filters
      %li= link_to tag, url_for(params.merge(scope => tag.name))
